
a{
    text-decoration: none;
}
.main-chart{
    width: auto;
}
.controlsbox{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}
.links{
    text-decoration: none;
    margin-left: 20px;
}
.about{
    margin-left: 10%;
    margin-right: 10%;
}
.page{
    height: 100%;
    width: 100%;
}

.gridbox {
    display: grid;
    }
@media (min-width: 768px) {
    .gridbox { 
        grid-template-columns: 7fr 16fr;
        grid-template-rows: 1fr;
        grid-template-areas: "controls charts";
        grid-column-gap: 30px;
        grid-row-gap: 0px;
    }
    .controls { grid-area: controls; }
    .charts { grid-area: charts; } 
    .main-chart{
        height: 85vh;
        width: 99%;
        margin-right: 1%;
    }
    .controlsbox{
        margin-top: 15px;
    }
}

.chart-title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.slider{
    margin-top: 20px;
    margin-bottom: 40px;
}
.slider_shortbottom{
    margin-top: 20px;
    margin-bottom: 10px;
}
.image_centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}