
a{
    text-decoration: none;
}
.main-chart{
    height: 85vh;
    width: 99%;
    margin-right: 1%;
}
.controlsbox{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}
.links{
    text-decoration: none;
    margin-left: 30px;
}
.about{
    margin-left: 10%;
    margin-right: 10%;
}
.page{
    height: 100%;
    width: 100%;
}

.gridbox {
    display: grid;
    }
@media (min-width: 900px) {
    .cards { 
        grid-template-columns: 3fr 8fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .controls { grid-area: 1 / 1 / 5 / 2; }
    .charts { grid-area: 1 / 2 / 5 / 6; } 
}

.chart-title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.slider{
    margin-top: 20px;
    margin-bottom: 40px;
}
.slider_shortbottom{
    margin-top: 20px;
    margin-bottom: 10px;
}
.image_centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}